<div class="container">
    <div class="grid justify-content-center">
      <div class="col-12 md:col-6 login">
        <div class="grid login">
          <div class="col-12 image-header"><img
              src="../../../assets/img/login.jpg">
          </div>
          <div class="col-12 lg:col-6">
            <label for="username" class="block">Username</label>
            <input type="text" pInputText [(ngModel)]="username" (input)="checkUsername()">
            <small id="username-help" class="p-error block" *ngIf="checkUser">Username min contains 5 characters</small>
          </div>
          <div class="col-12 lg:col-6">
            <label for="password" class="block">Password</label>
            <p-password type="password" [(ngModel)]="password" [toggleMask]="true" id="password" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}">
            </p-password>
          </div>
          <div class="col-12 lg:col-6">
            <label for="name" class="block">Name</label>
            <input type="text" pInputText [(ngModel)]="name">
          </div>
          <div class="col-12 lg:col-6">
            <label for="email" class="block">Email</label>
            <input type="email" pInputText [(ngModel)]="email" (input)="checkEmailFunc()">
            <small id="username-help" class="p-error block" *ngIf="checkEmail">Email must be valid</small>
          </div>
          <div class="col-12 lg:col-6">
            <label for="alamat" class="block">Address</label>
            <textarea pInputTextarea autoResize="autoResize" [(ngModel)]="address"></textarea>
          </div>
          <div class="col-12 lg:col-6">
            <label for="nohp" class="block">Phone Number</label>
            <input type="text" pInputText [(ngModel)]="nohp">
          </div>
        </div>
        <div class="grid button">
          <div class="col-12 lg:col-12">
            <p-button label="Signup" icon="pi pi-user-plus" styleClass="p-button-success" (click)="signUp(); toLogin()">
            </p-button>
          </div>
          <div class="col-12 lg:col-12">
            <p>Already have an account?<a routerLink="/login"> Login</a></p>
          </div>
        </div>
        <!-- </ng-template> -->
        <!-- </p-card> -->
      </div>
    </div>
  </div>
  
  <p-toast position="top-center" key="tc"></p-toast>
  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<!-- <p-button (click)="toLogin()" icon="pi pi-check" label="Confirm" styleClass="mr-2"></p-button> -->