
<p-dialog header="Change Password" [header]="actions == 'add' ? 'Input User' : 'Edit User'" [(visible)]="displayBasic" [style]="{width: '50vw'}">
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <label for="lastpass">Last Password</label>
      <p-password id="lastpass" type="text" required autofocus placeholder="Last Password" [(ngModel)]="valuepass1"
        [feedback]="false" [toggleMask]="true"></p-password>
      <small class="p-invalid" style="color: red" *ngIf="submitted">Last Password Required
      </small>
    </div>
    <div class="col-12 md:col-12">
      <label for="newpass">New Password</label>
      <p-password id="newpass" type="text" required autofocus placeholder="New Password" [(ngModel)]="valuepass2"
        [toggleMask]="true"></p-password>
      <small class="p-invalid" style="color: red" *ngIf="submitted">New Password Required
      </small>
    </div>
    <div class="col-12 md:col-12">
      <label for="cnewpass">Confirm New Password</label>
      <p-password id="cnewpass" type="text" required autofocus placeholder="Confirm New Password"
        [(ngModel)]="valuepass3" [toggleMask]="true"></p-password>
      <small class="p-invalid" style="color: red" *ngIf="submitted">Confirm New Password Required
      </small>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (onClick)="handleSaveDepartment($event)" label="Submit" styleClass="p-button-text">
    </p-button>
    <p-button icon="pi pi-times" (click)="displayBasic=false" label="Cancel" styleClass="p-button-text p-button-danger">
    </p-button>
  </ng-template>
</p-dialog>


<p-dialog header="Add New User" [(visible)]="displayBasic2" [style]="{width: '50vw'}">
  <div class="grid p-fluid">
    <div class="col-12 md:col-6">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="row.username" required autofocus placeholder="Username" />
      <small class="p-invalid" style="color: red" *ngIf="submitted">Username Required
      </small>
    </div>
    <!-- <div class="col-12 md:col-6">
      <label for="password">Password</label>
      <p-password id="password" type="text" required [(ngModel)]="row.password" autofocus placeholder="Password" [(ngModel)]="valuepass4"
        [toggleMask]="true"></p-password>
      <small class="p-invalid" style="color: red" *ngIf="submitted">Password Required
      </small>
    </div> -->
    <div class="col-12 md:col-6">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="row.name" required autofocus placeholder="Name" />
      <small class="p-invalid" style="color: red" *ngIf="submitted">Name Required
      </small>
    </div>
    <div class="col-12 md:col-6">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="row.email" required autofocus placeholder="Email" />
      <small class="p-invalid" style="color: red" *ngIf="submitted">Email Required
      </small>
    </div>
    <div class="col-12 md:col-6">
      <label for="address">Address</label>
      <input id="address" type="text" pInputText [(ngModel)]="row.address" required autofocus placeholder="Address" />
      <small class="p-invalid" style="color: red" *ngIf="submitted">Alamat Required
      </small>
    </div>
    <div class="col-12 md:col-6">
      <label for="phonenum">Phone Number</label>
      <input id="phonenum" type="text" pInputText [(ngModel)]="row.phone" required autofocus placeholder="Phone Number" />
      <small class="p-invalid" style="color: red" *ngIf="submitted">Phone Number Required
      </small>
    </div>
        <div class="col-12 md:col-6">
      <label for="createdate">Create Date</label>
      <p-calendar inputId="createdate" [(ngModel)]="row.createdDate"></p-calendar>
      <small class="p-invalid" style="color: red" *ngIf="submitted">Create Date Required
      </small>
    </div>
        <div class="col-12 md:col-6">
      <label for="phonenum">Create By</label>
      <input id="phonenum" type="text" pInputText [(ngModel)]="row.createdBy" required autofocus placeholder="Createor Name" />
      <small class="p-invalid" style="color: red" *ngIf="submitted">Creator Required
      </small>
    </div>
    <div class="col-12 md:col-12">
      <label for="group">Group</label>
      <div class="grid mt-1">
        <div *ngFor="let category of categories" class="col-3 field-checkbox">
          <p-checkbox id="group" name="group2" value="category" [value]="category" [(ngModel)]="selectedCategories"
            [inputId]="category.key" [disabled]="category.key === 'R'"></p-checkbox>
          <label [for]="category.key">{{category.name}}</label>
        </div>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
     <p-button icon="pi pi-check" (onClick)="input()" (onClick)="handleReset($event)" label="Submit" styleClass="p-button-text">
    </p-button>
    <!-- (onClick)="handleSaveDepartment($event)" -->
    <p-button icon="pi pi-times" (click)="displayBasic2=false" label="Cancel"
      styleClass="p-button-text p-button-danger">
    </p-button>
  </ng-template>
</p-dialog>

<div class="card">
  <div class="mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
      styleClass="p-button-text mt-2"></p-button>
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text mt-2"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
      styleClass="p-button-text mt-2"></p-button>
    <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3"
      [style]="{'float': 'right'}" (click)="showSearchCall()"></button>
    <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{'float': 'right'}">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="nama" (input)="onChanged()" />
    </span>
    <p-button (click)="showBasicDialog2()" (onClick)="handleReset($event)" icon="pi pi-user pi-plus-circle" styleClass="p-button-success mt-2 ml-3" label="Add" [style]="{'float': 'right'}">
  </p-button>
    <p-button (click)="showBasicDialog()" icon="pi pi-sync" label="Change Password"
  styleClass="mt-2 ml-3 p-button-secondary" [style]="{'float': 'right'}"></p-button>
  </div>
  <p-table [value]="users" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
    responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">Username<p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="password">Password<p-sortIcon field="password"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">Phone Number<p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="groupName">Group Name<p-sortIcon field="groupName"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">Created By<p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{users.username}}</td>
        <td>********</td>
        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
        <td>{{users.address}}</td>
        <td>{{users.phone}}</td>
        <td><ul>
          <li *ngFor="let item of users.groupName">{{item.groupName}}</li>
        </ul> </td>
        <td>{{users.createdBy}}</td>
        <td>
          <div class="grid p-fluid">
            <div class="col-12 md:col-6">
              <p-button icon="pi pi-pencil" (onClick)="openEdit(users)"></p-button>
            </div>
            <div class="col-12 md:col-6">
              <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="deleteUser(users.userId)"></p-button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>