<p-dialog [header]="actions == 'add' ? 'Input User' : 'Edit User'" [(visible)]="displayBasic2"
  [style]="{width: '50vw'}" (onHide)="submitEdit" (onHide)="submitAdd">
  <div class="grid p-fluid">
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="username" (input)="checkUsername()" required autofocus
        placeholder="Username" />
      <small class="p-invalid" style="color: red" *ngIf="checkUser">Username Required 5 Characters
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="username">Username</label>
      <input id="username" type="text" pInputText [(ngModel)]="row.username" required autofocus
        placeholder="Username" />
      <small class="p-invalid" style="color: red" *ngIf="checkUser">Username Required 5 Characters
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="password">Password</label>
      <p-password id="password" type="text" required [(ngModel)]="password" autofocus placeholder="Password"
        [(ngModel)]="valuepass4" [toggleMask]="true"></p-password>
      <small class="p-invalid" style="color: red" *ngIf="submitted">Password Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="name" required autofocus placeholder="Name" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.name">Name Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="name">Name</label>
      <input id="name" type="text" pInputText [(ngModel)]="row.name" required autofocus placeholder="Name" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.name">Name Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="email" (input)="checkEmailFunc()" required autofocus placeholder="Email" />
      <small class="p-invalid" style="color: red" *ngIf="checkEmail">Email Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="email">Email</label>
      <input id="email" type="email" pInputText [(ngModel)]="row.email"  required autofocus placeholder="Email" />
      <small class="p-invalid" style="color: red" *ngIf="checkEmail">Email Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="address">Address</label>
      <input id="address" type="text" pInputText [(ngModel)]="address" required autofocus placeholder="Address" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.address">Alamat Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="address">Address</label>
      <input id="address" type="text" pInputText [(ngModel)]="row.address" required autofocus placeholder="Address" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.address">Alamat Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='add'">
      <label for="phonenum">Phone Number</label>
      <input id="phonenum" type="text" pInputText [(ngModel)]="phoneNumber" required autofocus
        placeholder="Phone Number" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.phone">Phone Number Required
      </small>
    </div>
    <div class="col-12 md:col-6" *ngIf="actions=='edit'">
      <label for="phonenum">Phone Number</label>
      <input id="phonenum" type="text" pInputText [(ngModel)]="row.phone" required autofocus
        placeholder="Phone Number" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.phone">Phone Number Required
      </small>
    </div>
    <div class="col-12 md:col-6">
      <label for="phonenum">Create By</label>
      <input id="createdBy" Type="text" pInputText [(ngModel)]="row.createdBy" required autofocus
        placeholder="Creator Name" [disabled]="true" />
      <small class="p-invalid" style="color: red" *ngIf="submitted&&!row.createdBy">Creator Required
      </small>
    </div>
    <div class="col-12 md:col-12">
      <label for="group">Group</label>
      <div class="field-checkbox" *ngFor="let check of groups">
        <p-checkbox name="group1"  value="{{check.groupId}}" [(ngModel)]="selectedGroup"></p-checkbox>
        <label for="{{check.groupName}}">{{check.groupName}}</label>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" *ngIf="submitAdd" (onClick)="newUser(); toLogin()"
      label="Submit" styleClass="p-button-text">
    </p-button>
    <p-button icon="pi pi-check" *ngIf="submitEdit" (onClick)="editUser()"
      label="Submit" styleClass="p-button-text">
    </p-button>
    <p-button icon="pi pi-times" (click)="displayBasic2=false" label="Cancel"
      styleClass="p-button-text p-button-danger">
    </p-button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<div class="card">
  <div class="mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (onClick)="prev()" [disabled]="isFirstPage()"
      styleClass="p-button-text mt-2"></p-button>
    <p-button type="button" icon="pi pi-refresh" (onClick)="reset()" styleClass="p-button-text mt-2"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (onClick)="next()" [disabled]="isLastPage()"
      styleClass="p-button-text mt-2"></p-button>
    <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3"
      [style]="{'float': 'right'}" (click)="showSearchCall()"></button>
    <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{'float': 'right'}">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="keyword" (input)="onChanged(); search()" />
      <p-dropdown appendTo="body" [options]="searchOptions" [(ngModel)]="searchOption" optionLabel="label"
      optionValue="value" placeholder="Search by"></p-dropdown>
    </span>
    <p-button (onClick)="submitAdd=true" (onClick)="submitEdit=false" (click)="showBasicDialog2(users)" (onClick)="handleReset($event)" icon="pi pi-user pi-plus-circle"
      styleClass="p-button-success mt-2 ml-3" label="Add" [style]="{'float': 'right'}">
    </p-button>
  </div>
  <p-table [value]="users" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
    responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-striped" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">Username<p-sortIcon field="username"></p-sortIcon>
        </th>
        <th pSortableColumn="password">Password<p-sortIcon field="password"></p-sortIcon>
        </th>
        <th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="address">Address<p-sortIcon field="address"></p-sortIcon>
        </th>
        <th pSortableColumn="phone">Phone Number<p-sortIcon field="phone"></p-sortIcon>
        </th>
        <th pSortableColumn="groupName">Group Name<p-sortIcon field="groupName"></p-sortIcon>
        </th>
        <th pSortableColumn="createdBy">Created By<p-sortIcon field="createdBy"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr>
        <td>{{users.username}}</td>
        <td>********</td>
        <td>{{users.name}}</td>
        <td>{{users.email}}</td>
        <td>{{users.address}}</td>
        <td>{{users.phone}}</td>
        <td>
          <ul>
            <li *ngFor="let item of users.groupName">{{item.groupName}}</li>
          </ul>
        </td>
        <td>{{users.createdBy}}</td>
        <td>
          <div class="grid p-fluid">
            <div class="col-12 md:col-6">
              <p-button icon="pi pi-pencil" (onClick)="submitEdit=true" (onClick)="submitAdd=false" (onClick)="openEdit(users)"></p-button>
            </div>
            <div class="col-12 md:col-6">
              <p-button icon="pi pi-trash" styleClass="p-button-danger" (onClick)="handleDelete(users.userId)"></p-button>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>


