<div class="card px-5">
    <h1>BONUS</h1>
    <div class="mb-3">
        <div class="mb-3">
            <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
            <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
            <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3" [style]="{'float': 'right'}" (click)="showSearchCall()" ></button>
        <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{'float': 'right'}">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search" [(ngModel)]="firstName" (input)="findByEmployeeName()"/>
        </span>
            <p-button (click)="showDialog('Add')" icon="pi pi-plus-circle" label="Input" styleClass="p-button-success mt-2 ml-3" [style]="{'float': 'right'}"></p-button>
        </div>
        
    </div>

    <p-table [value]="bonus" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="Id">ID <p-sortIcon field="Id"></p-sortIcon></th>
                <th pSortableColumn="employeeName">Employee Name<p-sortIcon field="employeeName"></p-sortIcon></th>
                <th pSortableColumn="jobId">Job Title <p-sortIcon field="jobId"></p-sortIcon></th>
                <th pSortableColumn="salary">Salary <p-sortIcon field="salary"></p-sortIcon></th>
                <th pSortableColumn="commission">Commission <p-sortIcon field="commission"></p-sortIcon></th>
                <th>Action</th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bonus>
            <tr>
                <td>{{bonus.employeeId}}</td>
                <td>{{bonus.firstName}} {{bonus.lastName}}</td>
                <td>{{bonus.jobTitle}}</td>
                <td>{{bonus.salary}}</td>
                <td>{{bonus.commission}}</td>
                <td><button pButton type="button" icon="pi pi-user-edit"
                        (click)="openEdit(bonus)"></button></td>
                <td><button pButton type="button" icon="pi pi-trash" class="p-button-danger"
                        (click)="handleDelete(bonus.employeeId)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog [header]="action == 'add' ? 'Input Bonus' : 'Edit Bonus' " [(visible)]="display" [modal]="true"
    [style]="{width: '50vw',height: '40vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
    [resizable]="false" (onHide)="handleReset($event)">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <h5>First Name</h5>
        <input type="text" pInputText id="firstName" [(ngModel)]="row.firstName" required="autofocus" />
            <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.firstName">First Name
                Required!</h5>
      </div>
      <div class="col-12 md:col-6">
        <h5>Last Name</h5>
        <input type="text" pInputText id="lastName" [(ngModel)]="row.lastName" required="autofocus" />
            <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.lastName">Last Name
                Required!</h5>
      </div>
      <div class="col-12 md:col-6">
        <h5>Job Title</h5>
        <p-dropdown appendTo="body" [options]="employees" [(ngModel)]="row.jobId" optionLabel="jobTitle"
                placeholder="Job Title" optionValue="jobId">
            </p-dropdown>
      </div>
      <div class="col-12 md:col-6">
        <h5>Salary</h5>
        <input type="number" pInputText id="salary" [(ngModel)]="row.salary" required="autofocus" />
            <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.salary">Salary
                Required!</h5>
      </div>
      <div class="col-12 md:col-6">
        <h5>Commission</h5>
        <input type="number" pInputText id="commission" [(ngModel)]="row.commission" required="autofocus" />
            <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.commission">Commission
                Required!</h5>
      </div>
    </div>

      <ng-template pTemplate="footer">
        <button pButton type="button" label="Save" icon="pi pi-check" (click)="handleSaveDepartment($event)"></button>
        <button pButton type="button" label="Reset  " icon="pi pi-times" class="p-button-danger ml-2"
            (click)="handleReset($event)"></button>
    </ng-template>
</p-dialog>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>
