.row::after {
    /* content: ""; */
    /* clear: both; */
    display: inline-block;
  }

.col-1 {width: 33.33%;}
.col-2 {width: 49%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}

.btn {
    float: 'right'
}



@media screen and (max-width: 810px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
    .btn {
        display: inline-block;
    }
  }