<div class="card">
  <div class="mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (onClick)="prev()" [disabled]="isFirstPage()"
      styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-refresh" (onClick)="reset()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (onClick)="next()" [disabled]="isLastPage()"
      styleClass="p-button-text"></p-button>
    <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3"
      [style]="{'float': 'right'}" (click)="showSearchCall()"></button>
    <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{'float': 'right'}">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="keyword" (input)="search()">
      <p-dropdown appendTo="body" [options]="searchOptions" [(ngModel)]="searchOption" optionLabel="label"
      optionValue="value" placeholder="Search by"></p-dropdown>
    </span>
    <p-button icon="pi pi-plus-circle" label="Add" styleClass="p-button-success mt-2 ml-3" [style]="{'float': 'right'}"
      (click)="showMaximizableDialog(1)"></p-button>
  </div>
  <p-table [value]="locations" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
    responsiveLayout="scroll" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [rowsPerPageOptions]="[10,25,50]" sortMode="multiple">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="locationId">Location ID <p-sortIcon field="locationId"></p-sortIcon>
        </th>
        <th pSortableColumn="streetAddress">Street Address <p-sortIcon field="streetAddress"></p-sortIcon>
        </th>
        <th pSortableColumn="postalCode">Postal Code <p-sortIcon field="postalCode"></p-sortIcon>
        </th>
        <th pSortableColumn="city">City <p-sortIcon field="city"></p-sortIcon>
        </th>
        <th pSortableColumn="stateProvince">State/Province <p-sortIcon field="stateProvince"></p-sortIcon>
        </th>
        <!-- <th pSortableColumn="countryId">Country ID <p-sortIcon field="countryId"></p-sortIcon>
        </th> -->
        <th pSortableColumn="countryName">Country Name <p-sortIcon field="countryName"></p-sortIcon>
        </th>
        <th pSortableColumn="createdDate">Created Date <p-sortIcon field="createdDate"></p-sortIcon>
        </th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-location>
      <tr>
        <td>{{location.locationId}}</td>
        <td>{{location.streetAddress}}</td>
        <td>{{location.postalCode}}</td>
        <td>{{location.city}}</td>
        <td>{{location.stateProvince}}</td>
        <!-- <td>{{location.countryId}}</td> -->
        <td>{{location.countryName}}</td>
        <td>{{location.createdDate}}</td>
        <td>
          <div style="width: 100px;">
            <p-button icon="pi pi-pencil" (click)="openEdit(location.locationId)"></p-button>
            <p-button icon="pi pi-trash" styleClass="p-button-danger ml-2"
              (click)="showDeleteDialog(location.locationId)">
            </p-button>
          </div>

        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog [header]="action == 1 ? 'Add Location' : 'Edit Location'" [(visible)]="displayMaximizable"
    [modal]="true" [style]="{width: '50vw'}" [maximizable]="true" [draggable]="false" [resizable]="false"
    (onHide)="resetForm()">
    <div class="grid p-fluid">
      <div class="col-12 md:col-6">
        <label for="countryId">Country</label>
        <p-dropdown appendTo="body" [options]="countries" [(ngModel)]="row.countryId" optionLabel="countryName"
          optionValue="countryId" placeholder="Country" [required]="true" [filter]="true" [filterBy]="'countryName'" (onChange)="getStateProvince()">
        </p-dropdown>
        <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.countryId">
          Country Required!
        </h5>
      </div>
      <!-- <div class="col-12 md:col-6">
        <label for="countryId">Country</label>
        <p-dropdown appendTo="body" [options]="countries" [(ngModel)]="row.countryId" optionLabel="countryName"
          optionValue="countryId" placeholder="Country" [required]="true" [filter]="true" [filterBy]="'countryName'" (onChange)="getStateProvince()">
        </p-dropdown>
        <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.countryId">
          Country Required!
        </h5>
      </div> -->
      <div class="col-12 md:col-6">
        <label for="countryId">State/province</label>
        <p-dropdown appendTo="body" [options]="states" 
         placeholder="State/province" [required]="true" [(ngModel)]="row.stateProvince" (onChange)="tes2()"  [maxlength]="25">
        </p-dropdown>
        <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.stateProvince">
          State/province required!
        </h5>
      </div>
      
      <!-- <div class="col-12 md:col-6">
        <label for="streetAddress">State Province</label>
        <input type="text" pInputText [(ngModel)]="row.stateProvince" maxlength="25" required>
        <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.stateProvince">
          State province required!
        </h5>
      </div> -->
      <div class="col-12 md:col-6">
        <label for="streetAddress">City</label>
        <input type="text" pInputText [(ngModel)]="row.city" maxlength="30" required>
        <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.city">
          City required!</h5>
      </div>
      <div class="col-12 md:col-6">
        <label for="streetAddress">Postal Code</label>
        <input type="text" pInputText [(ngModel)]="row.postalCode" maxlength="12" required>
        <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.postalCode">
          Postal code required!</h5>
      </div>
      <div class="col-12 md:col-6">
        <label for="streetAddress">Street Address</label>
        <input type="text" pInputText [(ngModel)]="row.streetAddress" maxlength="40" required>
        <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.streetAddress">
          Street address required!
        </h5>
      </div>
      <div class="col-12 md:col-6">
        <label for="createdDate">Created Date</label>
        <input type="date" pInputText [(ngModel)]="row.createdDate" required>
        <h5 class="p-invalid" style="color: red;" *ngIf="submitted && !row.createdDate">
          Created date required!
        </h5>
      </div>
    </div>


    <ng-template pTemplate="footer">
      <button pButton pRipple type="button" (click)="submit()" icon="pi pi-check" label="Save"
        class="mt-2 ml-1" [disabled]="handleValidation()"></button>
      <button pButton pRipple type="button" (click)="resetForm()" icon="pi pi-spinner" label="Reset"
        class="mt-2 ml-1 p-button-danger"></button>
      <button pButton pRipple type="button" (click)="displayMaximizable=false" icon="pi pi-times" label="Cancel"
        class="mt-2 ml-1 p-button-danger"></button>
    </ng-template>
  </p-dialog>

  <p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
  </p-confirmDialog>
  <p-toast></p-toast>
</div>

<p-dialog [(visible)]="showAddNewStateProvinceDialog" [modal]="true"
  [style]="{width: '50vw'}" [maximizable]="true" [draggable]="false" [resizable]="false" [closable]="false">
  <div class="grid p-fluid">
    <div class="col-12 md:col-12">
      <label for="regionName">Add state/province</label>
      <input type="text" pInputText [(ngModel)]="tempStateProvince" required autofocus maxlength="25">
      <h5 class="p-invalid" style="color:red" *ngIf="submitted && !row.stateProvince">State/province name is required!</h5>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" (click)="addNewStateProvince()" icon="pi pi-check" label="Save" class="mt-2 ml-1"></button>
    <button pButton pRipple type="button" (click)="cancelAddingNewStateProvince()" icon="pi pi-times" label="Cancel"
      class="mt-2 ml-1 p-button-danger"></button>
  </ng-template>
</p-dialog>
