<div  *ngIf="isView">
<div class="card px-5">
  <div class="mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (onClick)="prev()" [disabled]="isFirstPage()"
      styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-refresh" (onClick)="reset()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (onClick)="next()" [disabled]="isLastPage()"
      styleClass="p-button-text"></p-button>
    <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3"
      [style]="{ float: 'right' }" (click)="showSearchCall()"></button>
    <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{ float: 'right' }">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="keyword" (input)="search()" />
      <p-dropdown appendTo="body" [options]="searchOptions" [(ngModel)]="searchOption" optionLabel="label"
      optionValue="value" placeholder="Search by"></p-dropdown></span>
    <p-button icon (click)="showDialog('Add')" icon="pi pi-plus-circle" label="Add"
      styleClass="p-button-success mt-2 ml-3" [style]="{ float: 'right' }"></p-button>
  </div>
</div>
<p-table class="col" [value]="customer" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
  [(first)]="first" responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]">
  <ng-template pTemplate="header" class="">
    <tr>
      <th pSortableColumn="customerId">
        Customer ID <p-sortIcon field="customerId"></p-sortIcon>
      </th>
      <th pSortableColumn="customerName">
        Customer Name <p-sortIcon field="customerName"></p-sortIcon>
      </th>
      <th pSortableColumn="email">
        Email <p-sortIcon field="email"></p-sortIcon>
      </th>
      <th pSortableColumn="phoneNumber">
        Phone Number <p-sortIcon field="phoneNumber"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-customer>
    <tr>
      <td>{{ customer.customerId }}</td>
      <td>{{ customer.customerName }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.phoneNumber }}</td>
      <td>
        <p-button icon="pi pi-pencil" [disabled]="!isManage" (click)="isManage==true ? openEdit(customer) : ''"></p-button>
        <p-button icon="pi pi-trash" (click)="handleDelete(customer.customerId)" styleClass="p-button-danger ml-2">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [header]="action == 'Add' ? 'Input Customer' : 'Edit Customer'" [(visible)]="display" [modal]="true"
  [style]="{ width: '50vw'}" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" (onHide)="handleReset($event, 'hide')">
  <div class="grid p-fluid">
    <div class="col-12 md:col-6">
      <label for="customerName">Customer Name</label>
      <input type="text" pInputText id="customername" [(ngModel)]="row.customerName" required="autofocus" />
      <h5 class="p-invalid" style="color: red" *ngIf=" !row.customerName">
        Customer Name is Required!
      </h5>
    </div>
    <div class="col-12 md:col-6">
      <label for="email">Email</label>
      <input type="text" pInputText id="email" [(ngModel)]="row.email" required="autofocus" />
      <h5 class="p-invalid" style="color: red" *ngIf="!row.email">
        Email is Required!
      </h5>
    </div>
    <div class="col-12 md:col-6">
      <label for="phonenumber">Phone Number</label>
      <input type="text" pInputText id="phonenumber" [(ngModel)]="row.phoneNumber" required="autofocus" />
      <h5 class="p-invalid" style="color: red" *ngIf="!row.phoneNumber">
        Phone Number is Required!
      </h5>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Save" icon="pi pi-check"
        (click)="handleSaveCustomer($event)" [disabled]="handleValidation()"></button>
        <button pButton pRipple type="button" (click)="handleReset($event, 'click')" icon="pi pi-spinner" label="Reset"
        class="mt-2 ml-1 p-button-danger"></button>
      <button pButton pRipple type="button" (click)="display=false" icon="pi pi-times" label="Cancel"
        class="mt-2 ml-1 p-button-danger"></button>
</ng-template>
</p-dialog>
</div>
<!-- <p-confirmPopup header="Confirmation"></p-confirmPopup> -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>