<div *ngIf="isView">
    <div class="card">
    <div class="mb-3" style="overflow:hidden">
        <p-button type="button" icon="pi pi-chevron-left" (onClick)="prev()" [disabled]="isFirstPage()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-refresh" (onClick)="reset()" styleClass="p-button-text"></p-button>
        <p-button type="button" icon="pi pi-chevron-right" (onClick)="next()" [disabled]="isLastPage()" styleClass="p-button-text"></p-button>
        <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3" [style]="{'float': 'right'}" (click)="showSearchCall()"></button>
        <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{'float': 'right'}">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search by job title" [(ngModel)]="keyword" (input)="searchJobTitle(keyword)"/>
        </span>
        <p-button (onClick)="showMaximizableDialog(1)" icon="pi pi-plus-circle" label="Add" styleClass="p-button-success mt-2 ml-3" [style]="{'float': 'right'}" [disabled]="!isManage"></p-button>
    </div>
    </div>
    <p-table [value]="jobs" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first" responsiveLayout="scroll"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" [scrollable]="true" scrollHeight="600px">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="jobId">Job ID <p-sortIcon field="jobId"></p-sortIcon></th>
            <th pSortableColumn="jobTitle">Job Title <p-sortIcon field="jobTitle"></p-sortIcon></th>
            <th pSortableColumn="minSalary">Minimum Salary<p-sortIcon field="minSalary"></p-sortIcon></th>
            <th pSortableColumn="maxSalary">Maximum Salary <p-sortIcon field="maxSalary"></p-sortIcon></th>
            <th>Action</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-job>
        <tr>
            <td>{{job.jobId}}</td>
            <td>{{job.jobTitle}}</td>
            <td>{{job.minSalary}}</td>
            <td>{{job.maxSalary}}</td>
            <td>
              <p-button icon="pi pi-pencil"  (onClick)="openEdit(job)" [disabled]="!isManage"></p-button>
              <p-button icon="pi pi-trash" (onClick)="showDeleteDialog(job.jobId)" [disabled]="!isManage" styleClass="p-button-danger ml-2"></p-button>
            </td>
        </tr>
    </ng-template>
    </p-table>

<p-dialog [header]="action == 1 ? 'Input Job' : 'Edit Job' " [(visible)]="displayMaximizable" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [draggable]="false" [resizable]="false" (onHide)="handleResetJob($event,'hide')">
    <div class="grid">
      <div class="col-6">
          <h5>Job ID</h5>
          <span class="p-float-label">
              <input *ngIf="action==1" type="text" pInputText [(ngModel)]="row.jobId" (ngModelChange)="row.jobId = $event.toUpperCase()" required autofocus placeholder="ex: AD_PRES"> 
              <!-- <h5 *ngIf="submitted && !row.jobId">Required!!</h5>  -->
              <label for="float-input">{{row.jobId}}</label>
              <h5 class="p invalid" style="color: red;" *ngIf=" !row.jobId">Job ID is required.</h5>
          </span>
      </div>
      <div class="col-6">
          <h5>Job Title</h5>
          <span class="p-float-label">
              <input type="text" pInputText [(ngModel)]="row.jobTitle"  required autofocus placeholder="ex: President"> 
              <!-- <h5 *ngIf="submitted && !row.jobTitle">Required!!</h5> -->
              <h5 class="p invalid" style="color: red;" *ngIf=" !row.jobTitle">Job Name is required.</h5>
          </span>
      </div>
      <div class="col-6">
          <h5>Minimum Salary</h5>
          <span class="p-float-label">
              <input type="number" pInputText [(ngModel)]="row.minSalary" required autofocus placeholder="1000"> 
              <!-- <label for="float-input">Minimum Salary</label> -->
              <h5 class="p invalid" style="color: red;" *ngIf="!row.minSalary">Minimum Salary is required.</h5>
          </span>
      </div>
      <div class="col-6">
          <h5>Maximum Salary</h5>
          <span class="p-float-label">
              <input type="number" pInputText [(ngModel)]="row.maxSalary" required autofocus placeholder="10000"> 
              <!-- <label for="float-input">Maximum Salary</label> -->
              <h5 class="p invalid" style="color: red;" *ngIf="row.maxSalary<row.minSalary">Maximum Salary is required and must be greater than the minimum salary.</h5>

          </span>
      </div>
  </div>

  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" (click)="handleSaveJob($event)" icon="pi pi-check" label="Save" class="mt-2 ml-1" [disabled]="!handleValidation()"></button>
    <button pButton pRipple type="button" (click)="handleResetJob($event,'click')" icon="pi pi-spinner" label="Reset" class="mt-2 ml-1 p-button-warning"></button>
    <button pButton pRipple type="button" (click)="displayMaximizable=false" icon="pi pi-times" label="Cancel" class="mt-2 ml-1 p-button-danger"></button>
</ng-template>
</p-dialog>
</div>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>
<p-toast position="top-center" key="tc"></p-toast>


