<div class="card px-5">
  <div class="mb-3">
    <p-button type="button" icon="pi pi-chevron-left" (click)="prev()" [disabled]="isFirstPage()"
      styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-refresh" (click)="reset()" styleClass="p-button-text"></p-button>
    <p-button type="button" icon="pi pi-chevron-right" (click)="next()" [disabled]="isLastPage()"
      styleClass="p-button-text"></p-button>
    <button pButton pRipple type="button" icon="pi pi-search" label="Search" class="mt-2 ml-3"
      [style]="{ float: 'right' }" (click)="showSearchCall()"></button>
    <span *ngIf="showSearch" class="p-input-icon-left mt-2 ml-3" [style]="{ float: 'right' }">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search" [(ngModel)]="keyword" (input)="search()" />
      <p-dropdown appendTo="body" [options]="searchOptions" [(ngModel)]="searchOption" optionLabel="label"
        optionValue="value" placeholder="Search by"></p-dropdown>
    </span>
    <p-button icon (click)="showDialog('Add')" icon="pi pi-plus-circle" label="Add"
      styleClass="p-button-success mt-2 ml-3" [style]="{ float: 'right' }"></p-button>
  </div>
</div>
<p-table class="col" [value]="departments" [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
  [(first)]="first" responsiveLayout="scroll"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10, 25, 50]">
  <ng-template pTemplate="header" class="">
    <tr>
      <th pSortableColumn="departmentId">
        Department ID <p-sortIcon field="departmentId"></p-sortIcon>
      </th>
      <th pSortableColumn="departmentName">
        Department Name <p-sortIcon field="departmentName"></p-sortIcon>
      </th>
      <th pSortableColumn="managerName">
        Manager Name <p-sortIcon field="managerName"></p-sortIcon>
      </th>
      <th pSortableColumn="streetAddress">
        Street Address <p-sortIcon field="streetAddress"></p-sortIcon>
      </th>
      <th pSortableColumn="city">
        City <p-sortIcon field="city"></p-sortIcon>
      </th>
      <th>Action</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-department>
    <tr>
      <td>{{ department.departmentId }}</td>
      <td>{{ department.departmentName }}</td>
      <td>
        {{ department.managerFirstName }} {{ department.managerLastName }}
      </td>
      <td>{{ department.streetAddress }}</td>
      <td>{{ department.city }}</td>

      <td>
        <p-button icon="pi pi-pencil" (click)="openEdit(department)"></p-button>
        <p-button icon="pi pi-trash" (click)="handleDelete(department.departmentId)" styleClass="p-button-danger ml-2">
        </p-button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [header]="action == 'Add' ? 'Input Department' : 'Edit Department'" [(visible)]="display" [modal]="true"
  [style]="{ width: '50vw', height: '40vw' }" [maximizable]="true" [baseZIndex]="10000" [draggable]="false"
  [resizable]="false" (onHide)="handleReset($event, 'hide')">
  <div class="grid p-fluid">
    <div class="col-12 md:col-6">
      <label for="departmentname">Department Name</label>
      <input type="text" pInputText id="departmentname" [(ngModel)]="row.departmentName" required="autofocus" />
      <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.departmentName">
        Department Name Required!
      </h5>
    </div>
    <div class="col-12 md:col-6">
      <label for="managername">Manager Name</label>
      <p-dropdown appendTo="body" [options]="employees" [(ngModel)]="row.managerId" optionLabel="firstName"
        optionValue="employeeId" placeholder="Manager Name">
      </p-dropdown>
      <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.managerId">
        Manager Name Required!
      </h5>
    </div>
    <div class="col-12 md:col-6">
      <label for="streetAddress">Street Address</label>
      <p-dropdown appendTo="body" [options]="locations" [(ngModel)]="row.locationId" optionLabel="streetAddress"
        placeholder="Street Address" optionValue="locationId">
      </p-dropdown>
      <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.locationId">
        Street Address Required!
      </h5>
    </div>
    <div class="col-12 md:col-6">
      <label for="city">City</label>
      <p-dropdown appendTo="body" [options]="locations" [(ngModel)]="row.locationId" optionLabel="city"
        placeholder="City" optionValue="locationId">
      </p-dropdown>
      <h5 class="p-invalid" style="color: red" *ngIf="submitted && !row.departmentName">
        City Required!
      </h5>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button pButton type="button" label="Save" icon="pi pi-check"
        (click)="handleSaveDepartment($event)" [disabled]="handleValidation()"></button>
        <button pButton pRipple type="button" (click)="handleReset($event, 'click')" icon="pi pi-spinner" label="Reset"
        class="mt-2 ml-1 p-button-danger"></button>
      <button pButton pRipple type="button" (click)="display=false" icon="pi pi-times" label="Cancel"
        class="mt-2 ml-1 p-button-danger"></button>
</ng-template>
</p-dialog>
<!-- <p-confirmPopup header="Confirmation"></p-confirmPopup> -->
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<p-toast></p-toast>