:host ::ng-deep img {
    /* height: 80px; */
}

:host :ng-deep .container{
    background-color: darkslateblue !important;
    height: 1000px;
}

:host ::ng-deep input[type=text] {
    width: 300px;
}

:host ::ng-deep input[type=password] {
    width: 300px;
}