<div class="grid">
  <div class="col-6 text-center">
    <p-card
      header="Advanced Card"
      subheader="Card Subheader"
      [style]="{ width: '100%' }"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <img
          alt="Card"
          src="https://images.unsplash.com/photo-1648737966837-66cc4a189b05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80"
        />
      </ng-template>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
        consequuntur error repudiandae numquam deserunt quisquam repellat libero
        asperiores earum nam nobis, culpa ratione quam perferendis esse,
        cupiditate neque quas!
      </p>
      <ng-template pTemplate="footer">
        <p-button
          label="Save"
          icon="pi pi-check"
          (onClick)="login()"
        ></p-button>
        <p-button
          label="Cancel"
          icon="pi pi-times"
          styleClass="p-button-secondary"
          [style]="{ 'margin-left': '.5em' }"
        ></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
